<div class="flex-container" id="head">
  <img src="./assets/img/burger.png" id="burger-image">
  <img src="./assets/img/nomCat.png" id="cat-image"> {{!-- box to type in new burgers --}}
</div>

<h1 id="title">DEM BURGS</h1>

<div class="add-burgers">
  <h2>Add a Burg</h2>
  <div class="add-burgers-form">
    <form class="create-form">
      <div class="form-group">
        <label for="ca">Burg Name:</label>
        <input type="text" id="burger" name="name">
        <button type="submit" id="submit">Add Burg</button>
      </div>
    </form>
  </div>
</div>

<div class="two-column">
  <div class="uneaten-burgers">
    <h2>Burgs that have yet to be nom'd.</h2>


    <ul>
      {{#each burgers}} {{#unless devoured}} {{> burger-block devoured=false}} {{/unless}} {{/each}}
    </ul>
  </div>

  <div class="eaten-burgers">
    <h2>Burgs that have already been nom'd and due to that fact are no longer available to nom because that's how food works.</h2>

    <ul>
      {{#each burgers}} {{#if devoured}} {{> burger-block devoured=true}} {{/if}} {{/each}}
    </ul>
  </div>
</div>